<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class ='alert alert-danger'>
    <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
